<div class='comment <%= "own" if comment.user == current_user %>'>
  <%= turbo_frame_tag "comment_#{comment.id}" do %>
    <p><%= comment.body %></p>
    <div>
      <%= comment.user.full_name %>
    </div>
    <div class="actions">
      <div class="like">
        <%= button_to image_tag('heart.svg', alt: "Like"),
            like_comment_path(comment),
            method: :post unless current_user.liked?(comment) %>

        <%= button_to image_tag('heart_filled.svg', alt: "Unlike"),
            unlike_comment_path(comment),
            method: :delete if current_user.liked?(comment) %>
      </div>

      <div class="misc">
        <% if current_user == comment.user %>
          <%= link_to edit_comment_path(comment) do %>
            <%= image_tag 'edit.svg', alt: "Edit" %>
          <% end %>

          <%= link_to comment, data: { turbo_method: "delete", turbo_confirm: "Are you sure?", turbo_frame: "_top"} do %>
            <%= image_tag 'delete.svg', alt: "Delete" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
