<div class="user_card" id="user_<%= user.id %>">
  <div class="avatar">
    <%= image_tag 'sample.svg', class: "avatar" %>
  </div>
  <div class="name">
    <%= user.full_name %>
  </div>
  <div class="actions">
    <%= button_to "Follow", follow_user_path(user), method: :post if !current_user.following?(user) %>
    <%= button_to "Unfollow", unfollow_user_path(user), method: :delete if current_user.following?(user) %>
  </div>
</div>
