<%= turbo_frame_tag "messages" do %>
  <h2><%= @room.name %></h2>

  <%= turbo_stream_from @room %>
  <div id="message_list">
    <%= render @messages  %>
  </div>

  <%= turbo_frame_tag "new_message", src: new_message_path %>
<% end %>
