<div class="post_card">
  <%= turbo_frame_tag "post_#{post.id}" do %>
    <%= link_to post, class: "card_link", data: { turbo_frame: "_top" } do %>
      <h3><%= post.title %></h3>
      <p><%= post.body %></p>

      <div class="images">
        <% post.images.each do |image| %>
          <%= image_tag image %>
        <% end %>
      </div>

      <div class="user_name">
        <%= post.user.full_name %>
      </div>
    <% end %>

    <div class="actions">
      <div class="like">
        <%= button_to image_tag('heart.svg', alt: "Like"), like_post_path(post), method: :post unless current_user.liked?(post) %>
        <%= button_to image_tag('heart_filled.svg', alt: "Unlike"), unlike_post_path(post), method: :delete if current_user.liked?(post) %>
        <div class="like_count">
          <%= post.likes.count %>
        </div>
      </div>

      <div class="misc">
        <%= link_to post, data: { turbo_frame: "_top" } do %>
          <%= image_tag 'comment.svg' %>
        <% end %>
        <% if current_user == post.user %>
          <%= link_to edit_post_path(post) do%>
            <%= image_tag 'edit.svg', alt: "Edit"%>
          <% end %>
          <%= link_to post, data: { turbo_method: "delete", turbo_confirm: "Are you sure?", turbo_frame: "_top"} do %>
            <%= image_tag 'delete.svg', alt: "Delete" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
