<header>
  <div class="logo">
    <%= link_to "HIKERS UNITED", root_path %>
  </div>

  <div class="links">
    <ul>
      <li><%= link_to "Feed", root_path %></li>
      <li><%= link_to "Hikers", users_path %></li>
      <li><%= link_to "Profile", user_path(current_user) %></li>
    </ul>

    <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  </div>
</header>
