<!DOCTYPE html>
<html>
  <head>
    <title>HikingPeeps</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if signed_in? %>
      <header>
        <div class="logo">
          <%= link_to "HIKERS", root_path %>
        </div>

        <div class="links">
          <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
        </div>
      </header>
    <% end %>
    <% flash.each do |type, message| %>
      <div class="flash <%= type %>"><%= message %></div>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
