<!DOCTYPE html>
<html>
  <head>
    <title>HikingPeeps</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= button_to "Log out", destroy_user_session_path, method: :delete if current_user %>
    </header>
    <% flash.each do |type, message| %>
      <div class="flash <%= type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
